.nav {
    grid-area: n;
    margin-bottom: 30px;
}

.navItemLink {
    color: #ffffff;
    text-decoration: none;
}

.navItemLinkActive {
    color: #f77470;
    text-decoration: none;
}

.navWrapper {
    background: #00da6f;
}